{% include "index.html" %}
{% block contact %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-4 m-auto border border-white  shadow p-4">
                    <div class="mb-3 border rounded-pill p-2 m-auto text-center">
                        <h1>Register form</h1>
                    </div>
                    <form action="/update/{{user.id}}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" name="name" id="exampleInputname" placeholder="Enter name.." aria-describedby="nameHelp" value="{{user.name}}">
                          </div>
                        <div class="mb-3">
                          <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email.." aria-describedby="emailHelp" value="{{user.email}}">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="phone" id="exampleInputphone1" placeholder="Enter phone.." aria-describedby="phoneHelp" value={{user.phone}}>
                          </div>
                          <div class="mb-3">
                            <input type="text" class="form-control" name="city" id="exampleInputcity1" placeholder="Enter distt.." aria-describedby="disttHelp" value={{user.city}}>
                          </div>
                          <div class="mb-3">
                            <input type="text" class="form-control" name="state" id="exampleInputstate1" placeholder="Enter state.." aria-describedby="stateHelp" value={{user.state}}>
                          </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}